body {
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	color: #6B6B6B;
	background-color: white;
	background-image: url(img/bg.jpg);
}
#page {
	background:transparent;
}
.cdi-redes-sociais img {
	margin-left: 8px;
}
#donate a {
	margin-top: 40px;
	background: #9CBFCF;
	float: right;
	width: 220px;
	height: 38px;
}
/*FOOTER*/
#colophon {
	background: url('img/banner_bg.jpg');
}
#page-footer {
	padding: 50px 0;
}