body {
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	color: #6B6B6B;
	background-color: white;
}

#page {
	background:transparent;
    padding: 0px;
}
.cdi-redes-sociais img {
	margin-left: 8px;
}
#donate a {
	margin-top: 40px;
	background: #9CBFCF;
	float: right;
	width: 220px;
	height: 38px;
}


header {
        background-image: url(img/bg_header.jpg);
        background-repeat: no-repeat;
        background-position: right top;
}


/*FOOTER*/
#colophon {
	background: url('img/banner_bg.jpg');
}
#page-footer {
	padding: 20px 0 0 0;
}

.cdi_mapa_site .subnav {
    margin-top: 10px;
}

.cdi_mapa_site .nav-tabs>.active>a {
    background-color: transparent;
}

.cdi_mapa_site .nav-tabs.nav-stacked>li>a {
    border-bottom: 1px solid #9CC0D0;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
}

.cdi_global_site>a>img {
    background-color: transparent;
    width: 56px;
    float: left;
}

.cdi_global_site {
    background-color: #FFF;
    padding: 10px 0px;
    width: 176px;
    margin-left: -7px;
    margin-bottom: 10px;
}

.cdi_global_site>a>p {
    color: black;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 5px;
}



/* ajustes da pagina parceiros*/

.cdi_parceiros .thumbnail {
    background-color: #FFFFFF;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    border-width: 0;
    -webkit-box-shadow: 3px 3px 3px lightgray;
    -moz-box-shadow: 3px 3px 3px lightgray;
    box-shadow: 3px 3px 3px lightgray;
}

.cdi_parceiros h3 {
font-size: 200%;
margin: 0px;
color: #9CBFCF; 	
}

.cdi_parceiros hr {
border-top: 1px solid #9CBFCF;
margin: 0 0 15px 0;
border-bottom: 1px solid rgb(175, 199, 211);
}

/* box de destaque -- utilizado nas laterais da pagina de projetos */

.cdi_head_box {
    background: none repeat scroll 0 0 #9CBFCF;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    margin: 0;
    padding: 10px;
}

.cdi_content_box {
    background-color: #FFFFFF;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    margin-bottom: 20px;
    padding: 10px;
}

.cdi_box {
    -webkit-box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.cdi_content_box > .nav.nav-pills a {
    background-color: #EEEEEE;
}

/* lista de noticias */
.cdi_content_box .thumbnail.row-fluid {
    background-color: #F5F5F5;
    margin-left: 0;
}

.cdi_content_box h4 {
    line-height: 120%;
    margin: 0;
    padding: 0 10px;
}


.cdi_content_box p {
    padding: 0 10px;
    text-align: justify;
}

.cdi_thumb_lista_noticia img {
    -webkit-border-radius: 88px 88px 88px 88px;
    -moz-border-radius: 88px 88px 88px 88px;
    border-radius: 88px 88px 88px 88px;
    margin: 4px 23px;
}

.cdi_content_box .btn {
    padding: 0 8px;
    position: relative;
}

#cdi_lista_noticias {
    margin-top: 20px;
}

/* cores cdi */
.cdi_vermelho_forte {
    background: #ED8B8B;
}

/* call to action */

#cdi_call_to_action h4 {
    color: #264D89;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
}

#cdi_call_to_action .btn.btn-large.btn-primary {
    font-size: 41px;
    font-weight: bold;
    padding: 25px;
}

#cdi_call_to_action.well.well-large {
    background-color: #9CBFCF;
}

/* quem somos */
.cdi_quem_somos .well {
    min-height: 164px;
    padding: 8px 10px 10px 16px;
}

.cdi_green {
    color: green;
}

.cdi_title_box {
    margin: 0 0 10px;
}

.cdi_blue {
    color: blue;
}

.cdi_red_border {
    border-color: red;
}

.cdi_green_border {
    border-color: green;
}

.cdi_blue_border {
    border-color: blue;
}

.cdi_quem_somos .span12.alignnone.size-full {
    margin: 0 0 20px;
}

.cdi_quem_somos img {
    margin: 19px;
}

.cdi_quem_somos h4 {
    background-color: #BFBFBF;
    color: white;
    font-size: 16px;
    padding: 6px;
}

.cdi_quem_somos .thumbnail > p {
    padding: 0 8px;
    text-align: left;
}

.cdi_quem_somos .thumbnail {
    min-height: 470px;
    padding: 0;
    background-color: #ffffff;
}

/* lista-projetos */
#lista_projetos .cdi_title_box {
    background-color: #9CC0D0;
    border-radius: 12px 12px 0 0;
    margin: 0;
    min-height: 86px;
    padding: 0 10px;
}

#lista_projetos .cdi_footer_box {
    margin: 0 0 16px 15px;
}

#lista_projetos p {
    min-height: 220px;
}

/* home */

.cdi_verde {
color: #7CB027;
}

.cdi_azul {
color: #61839f;
}

.cdi_vermelho {
color: #ed7731;
}

.cdi-valor {
color: #7cb027;
font-weight: bold;
font-size: 140%;
}

#cdi_home_boxes {
margin-top: 16px;
}

#cdi_home_boxes .thumbnail {
border: none;
}

#cdi_home_boxes img {
width: 100%;
}

#cdi_home_boxes p {
min-height: 79px;
text-align: justify;
}



/* header */

.cdi-redes-sociais img {
    background-color: #9BC0CF;
}

.cdi_doacao {
    margin-top: 15px;
}


.cdi_translate {
    margin: 16px 0 0 0;
    text-align: right;
    background: #fff;
    padding: 2px 9px 3px 0px;
    width: 176px;
    position: relative;
    left: 85px;
}

.transposh_flags {
    display: block;
    float: right;
}

@media (min-width: 1200px) {
    .navbar .container {
        width: 1170px;
    }
}

@media (min-width: 979px) and (max-width: 1200px) {
    .navbar .container {
        width: 940px;
    }
}

/* modal doacao */
#cdi_contato_modal {
    background-color: #9B351F;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    width: 530px;
}

.cdi_modal-body {
    padding: 10px;
}

.cdi_modal-body > p {
    font-size: 20px;
    text-align: center;
}

.cdi_conta {
    background-color: lightblue;
    border-radius: 6px 6px 6px 6px;
    color: blue;
    font-size: 23px;
}

.cdi_modal-body h2 {
    background-color: lightgreen;
    border-radius: 6px 6px 6px 6px;
    color: green;
    padding: 16px 0;
    text-align: center;
}

/* Duvidas e Sugestões */
.cdi_ajuda {
    background-color: orange;
    color: red;
    margin-top: 76px;
    left: -6px;
    opacity: 1;
    top: 50%;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    outline: none !important;
    position: fixed;
    z-index: 9997;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 14px 15px 12px 15px;
    line-height: 14px;
    float: none;
    text-shadow: none;
    font-weight: bold;
}

@media (max-width: 980px) {
    .cdi_ajuda {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    top: 8%;
    left: 100%;
    outline: none !important;
    padding: 14px 15px 12px 15px;
    width: 158px;
    margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .cdi_ajuda {
    margin-top: 136px;
    opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .cdi_ajuda {
    margin-top: 152px;
    opacity: 0.5;
    }
}


@media (max-width: 10000px) {
    a.cdi_ajuda {
        color: red;
    }

    a:hover.cdi_ajuda {
        color: brown;
        text-decoration: none;
    }
}

/* FAQ */
