body {
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	font: 14px 'DroidSansRegular', Arial, sans-serif;
	color: #6B6B6B;
	background-color: white;
	background-image: url(img/bg.jpg);
}
#page {
	background:transparent;
}
.cdi-redes-sociais img {
	margin-left: 8px;
}
#donate a {
	margin-top: 40px;
	background: #9CBFCF;
	float: right;
	width: 220px;
	height: 38px;
}
/*FOOTER*/
#colophon {
	background: url('img/banner_bg.jpg');
}
#page-footer {
	padding: 50px 0;
}

/* ajustes da pagina parceiros*/

#cdi_logo_parceiro {
background-color: #ffffff;
min-height: 246px;
margin: 8px;
border-radius: 20px;
}

#cdi_celula_parceiro {
background-color: rgb(233, 233, 231);
border: none;
border-radius: 6px;
}

#cdi_celula_parceiro h3 {
background-color: #9CBFCF;
padding: 0px 10px;
margin: -4px;
color: white;
margin-bottom: 5px;
margin-top: 10px;
}

#cdi_celula_parceiro a, #cdi_celula_parceiro a:hover {
text-decoration: none;
}

#cdi_celula_parceiro p {
line-height: 110%;
text-align: justify;
padding: 10px;
font-size: 12px;
}

.cdi_parceiros h3 {
font-size: 200%;
margin: 0px;
color: #9CBFCF; 	
}

.cdi_parceiros hr {
border-top: 1px solid #9CBFCF;
margin: 0 0 5px 0;
border-bottom: 1px solid rgb(175, 199, 211);
}

/* box de destaque -- utilizado nas laterais da pagina de projetos */

.cdi_head_box {
    background: none repeat scroll 0 0 #9CBFCF;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    margin: 0;
    padding: 10px;
}

.cdi_content_box {
    background-color: #FFFFFF;
    -webkit-border-radius: 0 0 12px 12px;
    -moz-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    margin-bottom: 20px;
    padding: 10px;
}

.cdi_box {
    -webkit-box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.cdi_content_box > .nav.nav-pills a {
    background-color: #EEEEEE;
}